.shader {
    width: inherit;%;
    height: inherit;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 1999;
}

.username {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader {
  display: none;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader .quote{
  font-size: 22px;
}

.loader .author{
font-size: 12px;
}

.loader-gif-img{
  width: 30px;
  height: 30px;
}

.loader-img-wrapper{
  display: block;
}








.input2 {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 400px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field2 {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field2:focus {
  outline: none;
}

.input__label2 {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label2-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic2 {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}


/* Kozakura */
.input--kozakura {
  overflow: hidden;
  padding-bottom: 1em;
}

.input__field--kozakura {
  padding: 0.25em 0.5em;
  margin-top: 1.25em;
  width: 100%;
  background: transparent;
  color: #1586C7;
  font-size: 1.55em;
  opacity: 0;
}

.input__label--kozakura {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 1em;
  pointer-events: none;
  overflow: hidden;
  padding: 0 0.25em;
  -webkit-transform: translate3d(1em, 2.75em, 0);
  transform: translate3d(1em, 2.75em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--kozakura {
  color: #fff;
  padding: 0.25em 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--kozakura::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #c3c3c3;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
}

.graphic--kozakura {
  fill: #1586C7;
  pointer-events: none;
  top: 1em;
  bottom: 0px;
  height: 4.5em;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.7s, fill 0.7s;
  transition: transform 0.7s, fill 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--kozakura:focus,
.input--filled .input__field--kozakura {
  -webkit-transition: opacity 0s 0.35s;
  transition: opacity 0s 0.35s;
  opacity: 1;
}

.input__field--kozakura:focus + .input__label--kozakura,
.input--filled .input__label--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--kozakura:focus + .input__label--kozakura .input__label-content--kozakura,
.input--filled .input__label-content--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.input__field--kozakura:focus ~ .graphic--kozakura,
.input--filled .graphic--kozakura {
  fill: #ececec;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}


input[type="submit"] {
    position: absolute;
    top: -1000px
}
